.AboutMeSectionContainer {
  padding: 10px;
  max-width: 550px;
  justify-self: center;
  text-align: justify;
}

.AboutMeText {
  font-style: italic;
}

.HighlightSection {
  text-align: center;
  display: flex;
  flex-direction: row;
}
