.ResumeSectionTitle {
  display: flex;
  justify-content: center;
  font-size: 3rem;
  font-weight: 100;
}

.ResumeSectionTimeline {
  border-left: 2px solid rgba(255, 255, 255, 0.1);
  padding-left: 10px;
  margin-left: 20px;
}

.ResumeSectionTimelineItem {
  margin-bottom: 30px;
  position: relative;
}

.ResumeSectionTimelineItem::before {
  content: "";
  position: absolute;
  left: -15px;
  top: 5px;
  width: 10px;
  height: 10px;
  background: rgba(194, 39, 222, 0.8);
  border-radius: 50%;
}
